
.aligner {
  display: flex;
  width: 100%;
}

.aligner--fillHeight {
  height: 100%;
}

.aligner--alignCenter {
  justify-content: center;
  align-items: center;
}

.aligner--justified {
  justify-content: space-between;
}

.aligner--gutters > * + * {
  margin-left: 2px;
}
