
.tile {
  background: $blue;
  color: $white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  text-align: center;
  width: 100%;
  padding-top: 100%;
  position: relative;
  font-size: 6vw;
  cursor: pointer;
}

.tile__content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 500px) {
  .tile {
    font-size: 30px;
  }
}
